.wrap {
    max-width: 600px;
    margin: 0 auto;
}

.post-upload {
    font-size: 14px;
}

.post-upload span.rq {
    color: #ff0000;
}

.post-upload .error {
    color: #ff0000;
    margin-top: 4px;
    margin-bottom: 0;
}

.post-upload .success {
    color: #3be23b;
    margin-top: 4px;
    font-size: 16px;
}

.post-upload input[type="text"], textarea {
    outline: none;
    padding: 9px 14px;
}

.post-upload input[type="checkbox"] {
    outline: none;
}

.post-upload select {
    outline: none;
    border-color: #dcd7ca;
    padding: 10px 15px 10px 10px;
}

.post-upload .post-field {
    margin-bottom: 17px;
}

.post-upload button {
    text-decoration: none;
    position: relative;
    outline: none;
}

.post-upload button.submiting:after {
    background-image: url(../images/ajax-loader.gif);
    width: 16px;
    height: 16px;
    content: '';
    position: absolute;
    left: 106%;
    top: 23px;
}